.userEntryForm {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(158, 156, 156);
  border-radius: 10px;
  margin: 10vh 20vw 10vh 20vw;
  padding: 4vh 5vw;
}
label {
  text-align: start;
}